* {
    margin: 0;
}

/* Esto hace que las unidades rem trabajen coherentemente 62.5% es 10 px */
html {
    font-size: 62.5%;
}

.contenedor{
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera"
                         "contenido contenido costadito"
                         "whidget-1 whidget-2 costadito"
                         "pie pie pie";
    gap: 0.5rem;
    font-size: 3rem;
}

.flex-container {
/*    background-color: bisque;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.flex-container > ul {
    display: flex;
    /* Para sacar el punto de la lista desordenada */
    list-style-type: none;
    font-size: 2rem;
}

ul li a {
    text-decoration: none;
}

ul > li {
    margin: 1rem;
}

.titulo {
    font-size: 5rem;
    font-family:'Gill Sans';
}

.logo {
    height: 8vh;
    width: 6vw;
    border-radius: 10%;
    box-shadow: 0.5rem 0.5rem gray;
    margin:2rem;
}

/* Para que cambie cuando se pasa el mouse sobre el enlace */
.logo:hover, .titulo:hover, a:hover {
    background-color: rgb(0, 0, 255);
}

.contenedor .whidget-1{
    grid-area: whidget-1;
/*    background-color: aquamarine; */
    border: 0.1rem solid red ;
    border-radius: 0.2rem;
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.contenedor .whidget-2{
    grid-area: whidget-2;
/*    background-color: aquamarine; */
    border: 0.1rem solid red;
    border-radius: 0.2rem;
    animation-name: colores;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}
.contenedor .costadito{
    grid-area: costadito;
    background-color: aquamarine;
    border: 0.1rem solid red;
    border-radius: 0.2rem;
}

.contenedor .pie{
    grid-area: pie;
    background-image: linear-gradient(90deg, aquamarine, blue);
    border: 0.1rem solid red;
    border-radius: 0.2rem;
}
.contenedor .contenido{
    grid-area: contenido;
    background-color: aquamarine;
    border: 0.1rem solid red;
    border-radius: 0.2rem;
}
.contenedor .cabecera{
    grid-area: cabecera;
    background-image: linear-gradient(90deg, blue, aquamarine);
    border: 0.1rem solid red;
    border-radius: 0.2rem;
}

@keyframes colores {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }